<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

<ion-tab title="Listings" icon="icon ion-home" href="#/tab/listings">
    <ion-nav-view name="tab-listings"></ion-nav-view>
  </ion-tab>
  <!-- Dashboard Tab -->
  <ion-tab title="My Properties" icon="icon ion-ios7-star" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  
	
  <!-- Friends Tab 
  <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Research" icon="icon ion-search" href="#/tab/research">
    <ion-nav-view name="tab-research"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Website" icon="icon ion-more" href="#/tab/website">
    <ion-nav-view name="tab-website"></ion-nav-view>
  </ion-tab>
 --> 
  


</ion-tabs>
