<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.ontariotaxsales"
version = "1.0.0">
  <name>Ontario Tax Sales</name>
  <description>
        Ontario Tax Sale Properties
    </description>
  <author email="rob@informational.ca" href="http://www.informational.ca">
      Rob
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
<icon src="res/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="res/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="res/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi" />
<icon src="res/drawable-xxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxhdpi" />
<icon src="res/drawable-xxxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxxhdpi" />
</widget>