<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.example.MyApp" 
    version="1.0.0" xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0">
  <gap:platform name="android" />
  <name>Ontario Tax Sale Properties</name>
  <description>
        Ontario Tax Sale Properties
    </description>
  <author email="rob@informational.ca" href="http://www.informational.ca">
      Rob
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="stay-in-webview" value="false" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <gap:splash src="splash.png" />
  <icon src="icon.png" />
  <icon src="res/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:qualifier="mdpi" />
  <icon src="res/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:qualifier="hdpi" />
  <icon src="res/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi" />
  <icon src="res/drawable-xxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xxhdpi" />
</widget>